<div class="tab-pane fade show active" id="tab-pane-1">
    <h4 class="mb-3">Product Description</h4>
    <p>This sports shoe, which keeps pace with an active lifestyle and combines comfort and performance at every step, offers all-day comfort and support. Whether you're running, training in the gym, or using it for your daily walks, this shoe allows you to move without tiring your feet. Its lightweight and breathable structure keeps your feet cool, while its durable sole provides a secure grip on all types of terrain. This eye-catching sports shoe, with its stylish design, will complement your sportswear style and energize you.</p>
</div>