
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Homepage</a>
                <a class="breadcrumb-item text-dark" href="#">Products</a>
                <span class="breadcrumb-item active">Shopping Cart</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        @await Component.InvokeAsync("_ShoppingCardProductListComponentPartial")
        @await Component.InvokeAsync("_ShoppingCartViewComponentPartial")
    </div>
</div>
<!-- Cart End -->